h1, h2 {
	font-family: 'supcom';
}

.navbar-brand {
  padding-top: 8px;
}

body { 
  padding-top: 50px; 
}

.secondary a {
  color: #666;
}

.panel-transparent {
	background: rgba(0, 0, 0, 0.5);
	padding: 5px;
}

.form-control:disabled {
  background-color: white;
}

textarea {
  width: 100%;
  height: 10em;
}

.myMenu {
  z-index: 9999;
}

.item {
  padding: 2px 6px;
  cursor: default;
 
}

.highlightedItem {
  color: white;
  background: hsl(200, 50%, 50%);
  padding: 2px 6px;
  cursor: default;
}

.menu {
  border: solid 1px #ccc;
}

.faf-button {
  color: black;
}