$color-main: #c8c8c8;
$color-header: #1C1E22;
$color-highlight: rgba(255, 0, 0, .75);
$color-1: #2E3338;
$color-2: #353A41;


h1, h2 {
	font-family: 'supcom';
}

.navbar-brand {
  padding-top: 8px;
}

body { 
  padding-top: 50px; 
}

.secondary a {
  color: #666;
}

.panel-transparent {
	background: rgba(0, 0, 0, 0.5);
	padding: 5px;
}

.form-control:disabled {
  background-color: white;
}

textarea {
  width: 100%;
  height: 10em;
}

.myMenu {
  z-index: 9999;
}

.item {
  padding: 2px 6px;
  cursor: default;
 
}

.highlightedItem {
  color: white;
  background: hsl(200, 50%, 50%);
  padding: 2px 6px;
  cursor: default;
}

.menu {
  border: solid 1px #ccc;
}

// ### react-table ### 

.rt-th {
  background-color: $color-header;
}

div .-odd {
  background-color: $color-1;
}

div .-even {
  background-color: $color-2;
}

.-sort-asc {
  box-shadow: inset 0 3px 0 0 $color-highlight !important;
}

.-sort-desc {
  box-shadow: inset 0 -3px 0 0 $color-highlight !important;
}

.-btn {
  height: inherit !important;
  color: $color-main !important;
}