$color-main: #c8c8c8;
$color-header: #1C1E22;
$color-highlight: rgba(255, 0, 0, .75);
$color-1: #2E3338;
$color-2: #353A41;


h1, h2 {
	font-family: 'supcom';
}

.navbar-brand {
  padding-top: 8px;
}

body { 
  padding-top: 50px; 
}

.secondary a {
  color: #666;
}

.panel-transparent {
	background: rgba(0, 0, 0, 0.5);
	padding: 5px;
}

.form-control:disabled {
  background-color: white;
}

textarea {
  width: 100%;
  height: 10em;
}

.myMenu {
  z-index: 9999;
}

.item {
  padding: 2px 6px;
  cursor: default;
 
}

.highlightedItem {
  color: white;
  background: hsl(200, 50%, 50%);
  padding: 2px 6px;
  cursor: default;
}

.menu {
  border: solid 1px #ccc;
}

// ### Slow Zoom home image on hover
// http://stackoverflow.com/a/15757620

.hoverZoom {
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

.hoverZoom:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}

// ### react-table ### 

.rt-th {
  background-color: $color-header;
}

div .-odd {
  background-color: $color-1;
}

div .-even {
  background-color: $color-2;
}

.-sort-asc {
  box-shadow: inset 0 3px 0 0 $color-highlight !important;
}

.-sort-desc {
  box-shadow: inset 0 -3px 0 0 $color-highlight !important;
}

.-btn {
  height: inherit !important;
  color: $color-main !important;
}